*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter",sans-serif;
}

.nav-container{
    background: rgba(0,0,0,0.8);
    position: fixed;
    height: 44px;
    z-index: 300;
    left: 0;
    right: 0;
    top: 0;
   
}
.nav-container nav{
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
nav .desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}
nav .desktop-nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    opacity: 0.8;
    transition: opacity 400ms;
}
nav .desktop-nav li a:hover{
    opacity: 1;
}

svg{
    align-items: center;
    margin-bottom: 5px;
}
.icon-link svg {
    margin-top: 10px;
}


/*background image    background-image: url('hero_iphone15pro__i70z9oz3hj2i_medium_2x.jpg'); set */
#one{
  
    background-image: url('hero_iphone15pro__i70z9oz3hj2i_medium_2x.jpg');
    height: 100vh;
    background-position: center;
background-repeat: no-repeat;
background-size: cover;

 


}
#Two{
     
    background-image: url('hero_iphone15_announce__uuemlcwczn6u_small_2x.jpg'); 
    height: 100vh;
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-top: 20px;

}
#hero {
    margin-top: 20px;
    position: relative;
}
#hero video{
    height: 150vh;
    width: 100%;
    background-position:absolute;
    z-index: 10;
    object-fit: cover;

}
#hero .content{
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}
#three{
    margin-top: 20px;
    display: flex;
    
}
.part-4{
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.part-4-1
{
    width: 50%;
    height: 110vh;
      object-fit: cover;
      margin-left: 5px;
      margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('promo_apple_watch_ultra2_order__dyxqj5ia98om_medium_2x.jpg');
    
}
.part-4-2{
    width: 50%;
    height: 110vh;
     object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url('promo_mbp__ek7p477bkp6q_medium_2x.jpg');
}
.part-4-1-2
{
    width: 50%;
    height: 110vh;
      object-fit: cover;
      margin-left: 5px;
      margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('promo_ipad__fioegapg12qi_medium_2x.jpg');
    
}
.part-4-2-2{
    width: 50%;
    height: 110vh;
     object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url('promo_apple_fitness_plus_new_years__bcmtyp1au76a_medium_2x.jpg');
}
.part-4-1-2-3
{
    width: 50%;
    height: 110vh;
      object-fit: cover;
      margin-left: 5px;
      margin-right: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('tile__cauwwcyyn9hy_medium_2x.jpg');
    
}
.part-4-2-2-3{
    width: 50%;
    height: 110vh;
     object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url('promo_iphone_tradein__bugw15ka691e_medium_2x.jpg');
}
.slider{
    width: 100%;
    height: 100vh;
    padding: 2vh 0vw;
    
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 90%;
    background-position: center;
    background-size: cover;
    
  }
  .swiper-pagination{
    margin-top: 20px;
  }

 
.swiper-1{
    background-image: url('one.jpg');
}
.swiper-2{
    background-image: url('two.jpg');
}
.swiper-3{
    background-image: url('three.jpg');
}
.swiper-4{
    background-image: url('four.jpg');
}
.swiper-5{
    background-image: url('five.jpg');
}
.swiper-6{
    background-image: url('six.jpg');
}


#footer{
    background-color: #f2f2f2;
    justify-content: center;
    margin-top: 20px;
  }
  .container1{
    font-size: 0.875em;
    font-size: 12px;
      line-height: 1.3333733333;
      font-weight: 400;
      letter-spacing: -0.01em;
      margin-left: 90px;
  
     
  }
  .container{
    float: inherit;
      font-size: 1.875em;
      font-family: inherit;
     
      line-height: inherit;
      letter-spacing: inherit;
      text-align: inherit;
  
  }
  .container3{
    font-size: 0.875em;
    font-size: 12px;
      line-height: 1.3333733333;
      font-weight: 400;
      letter-spacing: -0.01em;
  
  }
  
  .container h6 
  {
    font-size: 13px;
  }
  .container li{
    font-size: 13px;  
    line-height: 1.3333733333;
    
  
  }
  .nav-link a:hover {
    color: black;
  }
  .nav-link::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px ;
    background-color: black;
    transition: width .3;
  
  }
  .nav-link:hover::after{
    width: 14%;
    transition: width .3s;
  }
  p{
    font-size: 0.875em;
    font-size: 12px;
      line-height: 1.3333733333;
      font-weight: 400;
      letter-spacing: -0.01em;
  
      display: flex;
  }